body {
    background-color: cornsilk;
}

header {
    background-image: url("../imagechat/chaton.jpg");
    color: rgb(40, 100, 228);
}

iframe {
    padding: 25px;
    background-color: darkgoldenrod;
}
