header
{
    background-image: url("chaton.jpg");
    color: white;
}

body {
    background-color: cornsilk;
}

p {
    color: #be24c3;
}

iframe {
    padding: 25px;
    background-color: darkgoldenrod;
}
